@model CGMD.Models.Piece

@{
    // Set the title of the page based on the piece's work
    ViewData["Title"] = Model.Title;
}

<!-- Header displaying 'Details' -->
<h1>Details</h1>

<!-- Detail view section for the piece -->
<div>
    <dl class="row">
        <!-- Composer detail -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Composer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Composer)
        </dd>

        <!-- Year of Birth detail -->
        <dt class="col-sm-2">
            Year of Birth
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YOB)
        </dd>

        <!-- Year of Death detail -->
        <dt class="col-sm-2">
            Year of Death
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YOD)
        </dd>

        <!-- Nationality detail -->
        <dt class="col-sm-2">
            Nationality
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nation)
        </dd>

        <!-- Title detail -->
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            <em>@Html.DisplayFor(model => model.Title)</em>
        </dd>

        <!-- Instrumentation detail -->
        <dt class="col-sm-2">
            Instrumentation
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inst)
        </dd>

        <!-- Tags detail -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>


</div>

<!-- Link to navigate back to the list of pieces -->
<div>
    <a asp-action="Index">Back to List</a>
</div>
